
<li>@Html.ActionLink("Home", "Index", "Home")</li>
<li>@Html.ActionLink("About", "About", "Home")</li>
<li>@Html.ActionLink("Services", "Services", "Home") </li>
<li>@Html.ActionLink("Products", "Products", "Home")</li>
<li>@Html.ActionLink("Employee", "Index", "Employee")</li>
<li>@Html.ActionLink("Create Employee", "Create", "Employee")</li>
<li>@Html.ActionLink("Employee Dashboard", "EmployeeDashboard", "Employee")</li>
<li>@Html.ActionLink("Contact", "Contact", "Home")</li>
